body{
  padding:20px 50px;
  /* font-family: 'El Messiri', sans-serif; */
  /* font-family: 'Poiret One', cursive; */
  font-family: 'Merienda', cursive;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: burlywood;
}